/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Color Theme Swatches in Hex */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/*
 * A better looking default horizontal rule
 */
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/*
 * Remove default fieldset styles.
 */
/*
 * Allow only vertical resizing of textareas.
 */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/*
 * Hide visually and from screen readers, but maintain layout
 */
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* Style adjustments for viewports that meet the condition */
/* Style adjustments for high resolution devices */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
/*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
/*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
   *:root {
	--first-: #F2889B;
	--second-: #F22816;
	--third-: #F25D50;
	--forth-: #f1d2cf;
	--fifth-: #F2F2F2;
}
*{
    z-index: 2;
}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}
body{
    background-color: var(--forth-);
}
*::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
*::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio {
	vertical-align: middle;
}
canvas {
	vertical-align: middle;
}
iframe {
	vertical-align: middle;
}
img {
	vertical-align: middle;
}
svg {
	vertical-align: middle;
}
video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.hidden {
	display: none !important;
}
[hidden] {
	display: none !important;
}
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.sr-only.focusable {
	*:active {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		white-space: inherit;
		width: auto;
	}
	*:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		white-space: inherit;
		width: auto;
	}
}
.invisible {
	visibility: hidden;
}
.clearfix {
	*::before {
		content: " ";
		display: table;
	}
	*::after {
		content: " ";
		display: table;
		clear: both;
	}
}
.navbar {
	position: absolute;
	top: 0;
    width: 100%;
    .navbar-brand 
    {
        
        height: 52px;
        svg
        {
            width: auto;
            height: 100%;    
        }
        
    }
}

.wrapper {
	height: 100%;
}
.flamingo-ctn {
	width: 100vw;
	height: 100vh;
}
.flamingo-text {
	vertical-align: middle;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: start;
	align-content: start;
	justify-content: center;
	p {
		text-align: left;
	}
}
.flamingo-canvas {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.blob
{
    position: absolute;
    top : 0;
    z-index: -1;
}











@media print {
	* {
		background: #fff !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
		*::before {
			background: #fff !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
		}
		*::after {
			background: #fff !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
		}
	}
	a {
		text-decoration: underline;
		*:visited {
			text-decoration: underline;
		}
	}
	a[href] {
		*::after {
			content: " (" attr(href) ")";
		}
	}
	abbr[title] {
		*::after {
			content: " (" attr(title) ")";
		}
	}
	a[href^="#"] {
		*::after {
			content: "";
		}
	}
	a[href^="javascript:"] {
		*::after {
			content: "";
		}
	}
	pre {
		white-space: pre-wrap !important;
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr {
		page-break-inside: avoid;
	}
	img {
		page-break-inside: avoid;
	}
	p {
		orphans: 3;
		widows: 3;
	}
	h2 {
		orphans: 3;
		widows: 3;
		page-break-after: avoid;
	}
	h3 {
		orphans: 3;
		widows: 3;
		page-break-after: avoid;
	}
}
